@page
@model jquerypract.Views.Home.Index1Model
@{
}


<head>



</head>

<body>

    <h1>Shahul Singh</h1>
    <h2>Shahul Singh</h2>
    <h3>Shahul Singh</h3>
    <h4>Shahul Singh</h4>

    <p>hgdkewhoirhro itilrsht </p>


</body>